body {
    background-color: #50577A;
    text-align: center;
}

h1 {
    font-size: 54px;
}

.buttons {
    display: block;
    width: 50%;
    margin: auto;
}

.row {
    display: inline-block;
}

.btn {
    margin: 20px;
}

.green-btn {
    background-color: #4E9F3D;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}

.red-btn {
    background-color: #FF0000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}

.yellow-btn {
    background-color: #FFD700;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}

.blue-btn {
    background-color: #00337C;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}