body {
    background-color: #50577A;
    text-align: center;
}

h1 {
    font-size: 54px;
}

.buttons {
    width: 50%;
    margin: auto;
    display: inline-block;
}


.btn {
    margin: 20px;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 0px 3px #FBFFB1
}

.green {
    background-color: #4E9F3D;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}

.red {
    background-color: #FF0000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}

.yellow {
    background-color: #FFD700;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}

.blue {
    background-color: #00337C;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}

.active {
    background-color: #fff;
}